@import 'tailwindcss';

@plugin 'tailwindcss-react-aria-components';
@plugin 'tailwindcss-safe-area';

*,
*::before,
*::after {
  user-select: none;
  -webkit-user-select: none;
}

img {
  pointer-events: none;
}

a {
  -webkit-touch-callout: none;
}
